<div class="page-wrapper">
    <header class="header header-intro-clearance header-4 fixed-top py-2 py-lg-0">


        <div class="header-middle">
            <div class="container">
                <div class="header-left">
                    <button class="mobile-menu-toggler">
                        <span class="sr-only">Toggle mobile menu</span>
                        <i class="icon-bars text-white"></i>
                    </button>

                    
                </div><!-- End .header-left -->
                <div class="mr-5 mr-lg-0 pr-2"></div>
                <a class="mr-md-5" href="/" style="font-size: 20px;color:white;font-weight:500">
                        𝓴𝓲𝓼𝓴𝓪
                    </a>

                <div class="header-center">
                    <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
                        <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                        <form action="#" method="get">
                            <div class="header-search-wrapper search-wrapper-wide">
                                <label for="q" class="sr-only">Search</label>
                                <button class="btn btn-primary search-btn" type="submit"><i
                                        class="icon-search"></i></button>
                                <input type="search" class="form-control" name="q" id="q"
                                    placeholder="Search product ..." required>
                            </div><!-- End .header-search-wrapper -->
                        </form>
                    </div><!-- End .header-search -->
                </div>

                <div class="header-right">

                    <div class="header-dropdown-link">
                        <div class="dropdown compare-dropdown">

                            <div class="dropdown cart-dropdown">


                                {{#if isLoggedIn }}
                                <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false" data-display="static">
                                    <i class="icon-shopping-cart text-white cart-btn-header"></i>
                                    <span class="cart-count">{{cartCount}}</span>

                                </a>
                                {{else}}
                                <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false" data-display="static">
                                    <i class="icon-user text-white cart-btn-header" style="font-size: 30px;"></i>
                                    

                                </a>
                                {{/if}}
                                <div class="dropdown-menu dropdown-menu-right">
                                    <div class="dropdown-cart-products ">
                                        {{#if cartItems.length }}

                                        {{#each cartItems }}
                                        <div class="product">
                                            <div class="product-cart-details">
                                                <h4 class="product-title">
                                                    <a href="">{{this.product.name}}</a>
                                                </h4>

                                                <span class="cart-product-info">
                                                    <span class="cart-product-qty"></span>
                                                    {{this.product.price}}
                                                </span>
                                            </div><!-- End .product-cart-details -->

                                            <figure class="product-image-container">
                                                <a href="" class="product-image" style="height: 80px !important;">
                                                    <img src="/images/{{this.product.mainImage}}" alt="product"
                                                        height="80">
                                                </a>
                                            </figure>
                                            <form action="/remove" method="post">
                                                <input type="hidden" name="cartItemId" value="{{this._id}}">
                                                <button type="submit" class="btn-remove"> <i
                                                        class="icon-close"></i></button>
                                            </form>
                                        </div><!-- End .product -->
                                        {{/each}}
                                        {{/if}}
                                    </div><!-- End .cart-product -->


                                    {{#if cartItems }}
                                    <div class="dropdown-cart-total">
                                        <span>Total</span>

                                        <span class="cart-total-price">{{totalAmount}}</span>
                                    </div><!-- End .dropdown-cart-total -->
                                    {{else}}
                                    <div class="mt-2"></div>
                                    {{/if}}

                                    {{#if isLoggedIn }}
                                    <div class="dropdown-cart-action">
                                        <a href="/cart" class="btn btn-primary">View Cart</a>
                                        <a href="checkout.html"
                                            class="btn btn-outline-primary-2"><span>Checkout</span><i
                                                class="icon-long-arrow-right"></i></a>
                                    </div><!-- End .dropdown-cart-total -->
                                    {{else}}
                                    <a href="/register" class="btn btn-primary">Login</a>
                                    {{/if}}
                                </div><!-- End .dropdown-menu -->

                            </div><!-- End .cart-dropdown -->

                        </div>

                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .container -->
        </div><!-- End .header-middle -->

        <div class="header-bottom sticky-header">
            <div class="container">
                <div class="header-left">
                    <div class="dropdown category-dropdown">
                        <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false" data-display="static" title="Browse Categories">
                            Browse Categories <i class="icon-angle-down"></i>
                        </a>

                        <div class="dropdown-menu">
                            <nav class="side-nav">
                                <ul class="menu-vertical sf-arrows">

                                    <li><a href="#">Coming soon</a></li>
                                </ul><!-- End .menu-vertical -->
                            </nav><!-- End .side-nav -->
                        </div><!-- End .dropdown-menu -->
                    </div><!-- End .category-dropdown -->
                </div><!-- End .header-left -->

                <div class="header-center">
                    <nav class="main-nav">
                        <ul class="menu sf-arrows">
                            <li class="megamenu-container active">
                                <a href="index.html" class="">Home</a>


                            </li>
                            <li>
                                <a href="/store" class="">Store</a>


                            </li>

                            <li>
                                <a href="/profile" class="">Profile</a>


                            </li>


                        </ul><!-- End .menu -->
                    </nav><!-- End .main-nav -->
                </div><!-- End .header-center -->

                <div class="header-right">
                    <i class="la la-lightbulb-o"></i>
                    {{!-- <p>Clearance<span class="highlight">&nbsp;Up to 30% Off</span></p> --}}
                </div>
            </div><!-- End .container -->
        </div><!-- End .header-bottom -->
    </header><!-- End .header -->
</div>