<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>

    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="">
    <meta name="author" content="p-themes">
    <!-- Favicon -->

    <!-- Plugins CSS File -->

</head>
<style>
    .product:focus,
    .product:active,
    .product:hover {
        box-shadow: none !important;
        /* Removes box-shadow */
        outline: none !important;
        /* Removes focus outline if present */
    }


    .category-container {
        white-space: nowrap;
        overflow-x: auto;
        /* Ensure the container is scrollable horizontally */
        -ms-overflow-style: none;
        /* Internet Explorer 10+ */
        scrollbar-width: none;
        /* Firefox */
    }

    .category-item {
        display: inline-block;
        text-align: center;
    }

    .category-item img {
        width: 60px;
        height: 60px;
        object-fit: contain;
        border-radius: 50px;
    }

    .category-item p {
        margin-top: 5px;
        font-size: 12px;
        line-height: normal;
        white-space: normal;
    }

    .banner-content {
        left: 10px !important;
    }

    .explore-btn {
        font-size: 1.2rem;
        min-width: 90px;
        padding: .65rem 1rem;
    }

    /* Responsive iframe for Bootstrap 4 */
    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        /* 16:9 aspect ratio */
        height: 0;
        overflow: hidden;
        max-width: 100%;
        background: #000;
    }

    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .product-media {
        border-radius: 10px;
    }

    /* Close button style */
    .popup-close {
        position: absolute;
        top: 0px;
        right: 0px;
        border: none;
        background: none;
        font-size: 24px;
        font-weight: bold;
        cursor: pointer;
        color: #000;
        /* Adjust color as needed */
    }

    /* Ensure button content is aligned */
    .button-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Ensure button content is aligned */
    .button-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Spinner style */
    .spinner {
        border: 2px solid #f3f3f3;
        /* Light grey */
        border-top: 2px solid #113f67;
        /* Blue */
        border-radius: 50%;
        width: 16px;
        height: 15px;
        animation: spin 1s linear infinite;
        display: inline-block;
        margin-left: 10px;
    }

    /* Spinner animation */
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    /* Tick mark style */
    .tick-mark {
        color: #113f67;
        font-size: 15px;
        margin-left: 10px;
        display: inline-block;
    }

    /* Optional: Set a minimum width for the button to maintain consistency */
    .add-to-cart-btn {
        min-width: 120px;
        /* Adjust as needed */
    }
</style>

<body>
    <div class="pt-lg-3"></div>
    <main class="main mt-lg-5 pt-lg-5">
        {{!-- <div class="intro-slider-container p-3  mt-5">
            <div class="intro-slider owl-carousel owl-simple owl-nav-inside" data-toggle="owl" data-owl-options='{
                        "nav": false,
                        "responsive": {
                            "992": {
                                "nav": true
                            }
                        }
                    }'>
                <div class="intro-slide"
                    style="background-image: url(assets/images/demos/demo-13/products/dryer-1.jpeg);object-fit:cover!important;">
                    <div class="container intro-content mb-3">
                        <div class="row">
                            <div class="col-auto offset-lg-3 intro-col">
                                <h4 style="line-height: 1.3; color: #ffffffad;">Discover Your Style <br> with Our Latest
                                    <br>Collections!
                                </h4>
                                <a href="/store" class="btn btn-dark">

                                    <span>Shop Now</span>
                                    <i class="icon-long-arrow-right"></i>
                                </a>
                            </div><!-- End .col-auto offset-lg-3 -->
                        </div><!-- End .row -->
                    </div><!-- End .container intro-content -->
                </div><!-- End .intro-slide -->

                <div class="intro-slide"
                    style="background-image: url(assets/images/demos/demo-13/products/pr1.jpg);object-fit: cover;">
                    <div class="container intro-content">
                        <div class="row">
                            <div class="col-auto offset-lg-3 intro-col">

                            </div><!-- End .col-auto offset-lg-3 -->
                        </div><!-- End .row -->
                    </div><!-- End .container intro-content -->
                </div><!-- End .intro-slide -->

                <div class="intro-slide" style="background-image: url(assets/images/demos/demo-13/products/cmr2.jpg);">
                    <div class="container intro-content">
                        <div class="row">
                            <div class="col-auto offset-lg-3 intro-col">
                                <a href="/store" class="btn btn-primary">
                                    <span>Shop Now</span>
                                    <i class="icon-long-arrow-right"></i>
                                </a>
                            </div><!-- End .col-auto offset-lg-3 -->
                        </div><!-- End .row -->
                    </div><!-- End .container intro-content -->
                </div><!-- End .intro-slide -->
            </div><!-- End .owl-carousel owl-simple -->

            <span class="slider-loader"></span><!-- End .slider-loader -->
        </div><!-- End .intro-slider-container --> --}}

        <div class="intro-section bg-lighter pt-3 mt-1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        <div class="intro-slider-container slider-container-ratio slider-container-1 mb-2 mb-lg-0">
                            <div class="intro-slider intro-slider-1 owl-carousel owl-simple owl-light owl-nav-inside"
                                data-toggle="owl" data-owl-options='{
                                        "nav": false, 
                                        "responsive": {
                                            "768": {
                                                "nav": true
                                            }
                                        }
                                    }'>
                                <div class="intro-slide"
                                    style="background-image: url(assets/images/demos/demo-13/products/cmr2.jpg);object-fit:cover!important;">
                                    <div class="container intro-content">
                                        <div class="mt-3"></div>
                                        <div class="row">
                                            <div class="col-auto offset-lg-3 intro-col pt-5 mt-5">
                                                {{!-- <h4 style="line-height: 1.3; color: #333333cc;">
                                                    Discover Your Style <br>
                                                    with Our Latest <br>Collections!</h4> --}}
                                                <a href="/store" class="btn btn-primary mt-5" data-aos="fade-right"
                                                    data-aos-duration="2000">
                                                    <span>Shop Now</span>
                                                    <i class="icon-long-arrow-right"></i>
                                                </a>


                                            </div><!-- End .col-auto offset-lg-3 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .container intro-content -->
                                </div><!-- End .intro-slide -->
                                <div class="intro-slide"
                                    style="background-image: url(assets/images/demos/demo-13/banners/banner-11.jpg);object-fit:cover!important;">
                                    <div class="container intro-content mb-3">
                                        <div class="row">
                                            <div class="col-auto offset-lg-3 intro-col">
                                                <h4 style="line-height: 1.3; color: #333333cc;">
                                                    Discover Your Style <br>
                                                    with Our Latest <br>Collections!</h4>
                                                <a href="/store" class="btn btn-dark">

                                                    <span>Shop Now</span>
                                                    <i class="icon-long-arrow-right"></i>
                                                </a>


                                            </div><!-- End .col-auto offset-lg-3 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .container intro-content -->
                                </div><!-- End .intro-slide -->




                            </div><!-- End .intro-slider owl-carousel owl-simple -->

                            <span class="slider-loader"></span><!-- End .slider-loader -->
                        </div><!-- End .intro-slider-container -->
                    </div><!-- End .col-lg-8 -->
                    {{!-- <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="intro-banners">
                            <div class="row row-sm">
                                <div class="col-md-12  col-lg-12">
                                    <div class="banner banner-display">
                                        <a href="#">
                                            <img style="height: 230px !important;"
                                                src="assets\images\demos\demo-13\banners\banner-19.jpg" alt="Banner">
                                        </a>

                                        <div class="banner-content">
                                            <h4 class="banner-subtitle text-dark"><a href="#">Just Arrived</a></h4>
                                            <!-- End .banner-subtitle -->
                                            <h3 style="line-height: 1.5;;" class="banner-title "><a href="#">Get Ready
                                                    for a New <br>Shopping Adventure</a></h3>
                                            <!-- End .banner-title -->
                                            <a href="" class="btn btn-dark explore-btn mt-1">Explore<i
                                                    class="icon-long-arrow-right"></i></a>
                                        </div><!-- End .banner-content -->
                                    </div><!-- End .banner -->
                                </div><!-- End .col-md-6 col-lg-12 -->


                            </div><!-- End .row row-sm -->
                        </div><!-- End .intro-banners -->
                    </div><!-- End .col-lg-4 --> --}}

                </div><!-- End .row -->



                <div class="owl-carousel owl-simple" data-toggle="owl" data-owl-options='{
                            "nav": false, 
                            "dots": false,
                            "margin": 30,
                            "loop": false,
                            "responsive": {
                                "0": {
                                    "items":2
                                },
                                "420": {
                                    "items":3
                                },
                                "600": {
                                    "items":4
                                },
                                "900": {
                                    "items":5
                                },
                                "1024": {
                                    "items":6
                                }
                            }
                        }'>

                </div><!-- End .owl-carousel -->
            </div><!-- End .container -->
        </div><!-- End .bg-lighter -->




        {{!-- Categories section --}}
        {{!-- <div class="container mt-3">
            <div class="row">
                <div class="col">
                    <div class="d-flex overflow-auto category-container">

                        <div class="category-item text-center mx-3">
                            <img src="/images/1722523218563-ATX-Jeans_jH6EYxI.jpg" alt="Category 2" class="img-fluid">
                            <p>Shoes</p>
                        </div>

                        <div class="category-item text-center mx-3">
                            <img src="/images/1721556650401-pngimg.com_-_macbook_PNG51_0PbZvcq.png" alt="Category 3"
                                class="img-fluid">
                            <p>Shirts</p>
                        </div>
                        <div class="category-item text-center mx-3">
                            <img src="/images/1721142256988-11.jpg" alt="Category 3" class="img-fluid">
                            <p>Laptop</p>
                        </div>
                        <div class="category-item text-center mx-3">
                            <img src="/images/1722321866081-jordan-true-flight-basketball-shoes.jpg" alt="Category 3"
                                class="img-fluid">
                            <p>Mobiles</p>
                        </div>
                        <div class="category-item text-center mx-3">
                            <img src="\images\1722524163382-7_81wn2R8.jpg" alt="Category 3" class="img-fluid">
                            <p>Electronics</p>
                        </div>
                        <div class="category-item text-center mx-3">
                            <img src="/images/1722529835149-jordan-true-flight-basketball-shoes.jpg" alt="Category 3"
                                class="img-fluid">
                            <p>Others</p>
                        </div>

                        <!-- Add more category items as needed -->
                    </div>
                </div>
            </div>
        </div> --}}





        <div class="mb-2"></div><!-- End .mb-2 -->

        <div class="mb-3"></div><!-- End .mb-3 -->


        <div class="mb-3"></div><!-- End .mb-3 -->

        <div class="container electronics mt-lg-5 pt-lg-5">
            <div class="heading heading-flex heading-border mb-3">
                {{!-- <div class="heading-left">
                    <h2 class="title">Electronics</h2><!-- End .title -->
                </div><!-- End .heading-left --> --}}

                <div class="heading-right">
                    <ul class="nav nav-pills nav-border-anim justify-content-center" role="tablist">
                        <li class="nav-item" data-aos="flip-down" data-aos-duration="1000">
                            <a class="nav-link active" id="elec-new-link" data-toggle="tab" href="#elec-new-tab"
                                role="tab" aria-controls="elec-new-tab" aria-selected="true">Products</a>
                        </li>
                        {{!-- <li class="nav-item">
                            <a class="nav-link" id="elec-featured-link" data-toggle="tab" href="#elec-featured-tab"
                                role="tab" aria-controls="elec-featured-tab" aria-selected="false">45 days🚚</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="elec-featured-link" data-toggle="tab" href="#elec-featured-tab"
                                role="tab" aria-controls="elec-featured-tab" aria-selected="false">Others</a>
                        </li> --}}
                        {{!-- <li class="nav-item">
                            <a class="nav-link" id="elec-best-link" data-toggle="tab" href="#elec-best-tab" role="tab"
                                aria-controls="elec-best-tab" aria-selected="false">Best Seller</a>
                        </li> --}}
                    </ul>
                </div><!-- End .heading-right -->
            </div><!-- End .heading -->

            <div class="tab-content tab-content-carousel">
                <div class="tab-pane p-0 fade show active" id="elec-new-tab" role="tabpanel"
                    aria-labelledby="elec-new-link">
                    <div class="row">
                        {{!-- Product starting --}}
                        {{#each products}}
                        <div class="col-6 col-md-4 col-lg-3 mb-4"> <!-- Adjust the columns based on screen size -->
                            <div class="product">
                                <figure class="product-media" data-aos="zoom-in" data-aos-duration="2000">
                                    <span class="product-label label-new">New</span>
                                    <a href="/product/{{this._id}}">
                                        <img src="/images/{{this.mainImage}}" alt="Product image" class="product-image">
                                    </a>
                                </figure><!-- End .product-media -->

                                <div class="product-body" data-aos="flip-up" data-aos-duration="2000">
                                    <div class="product-cat">
                                        <a href="#">{{this.category}}</a>
                                    </div><!-- End .product-cat -->
                                    <h3 class="product-title"><a href="/product/{{this._id}}">{{this.name}}</a></h3>
                                    <!-- End .product-title -->
                                    <div class="product-price">
                                        ₹{{this.price}}
                                    </div><!-- End .product-price -->
                                </div><!-- End .product-body -->

                                {{#if ../userId}}
                                <form class="add-to-cart-form" action="cart/add" method="POST" data-aos="flip-up"
                                    data-aos-duration="2500">
                                    <input type="hidden" name="userId" value="{{../userId}}">
                                    <input type="hidden" name="productId" value="{{this._id}}">
                                    <button type="submit" class="btn btn-outline-primary ml-3 add-to-cart-btn"
                                        title="Add to cart">
                                        <div class="button-content">
                                            <span class="button-text">Add to Cart</span>
                                            <span class="spinner" style="display: none;"></span>

                                            <i class="fa-regular fa-circle-check tick-mark" style="display: none;"></i>

                                        </div>
                                    </button>
                                </form>

                                {{else}}
                                <button class="btn btn-dark ml-3" title="Add to cart"
                                    onclick="showLoginPopup()"><span>Add to Cart</span></button>
                                {{/if}}

                                {{!-- --}}

                            </div><!-- End .product -->
                        </div><!-- End .col -->
                        {{/each}}
                        {{!-- Product Ending --}}
                    </div><!-- End .row -->

                    <div class="row justify-content-center" data-aos="fade-right" data-aos-duration="2000">
                        <a href="/store" class="btn btn-outline-dark mt-2"> STORE <i
                                class="fa-solid fa-arrow-right-long"></i></a>
                    </div>
                </div><!-- .End .tab-pane -->
            </div><!-- .End .tab-content -->




        </div><!-- End .container -->


        <div class="mb-3"></div><!-- End .mb-3 -->



        <div class="mb-1"></div><!-- End .mb-1 -->



        <div class="mb-3"></div><!-- End .mb-3 -->

       



        <div class="container mt-5 p-5">
            <div class="row justify-content-center" data-aos="fade-right" data-aos-duration="1500">
                <div class="col-12 col-md-6">
                    <div class="card mx-auto">
                        <div class="card-header text-center">
                            <h5>Watch Our Promotion Video</h5>
                        </div>
                        <div class="video-container">
                            <iframe src="https://www.youtube.com/embed/DcJ4at_Gk5U?si=ednddUUbUxM3vTHN"
                                title="YouTube video" allowfullscreen></iframe>
                        </div>
                        <div class="card-body text-center">
                            <p class="card-text">Check out our latest promotion video for more details!</p>
                            <a href="https://www.youtube.com/watch?v=DcJ4at_Gk5U" class="btn btn-primary">Watch on
                                YouTube</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        {{>footer}}
        </div><!-- End .page-wrapper -->

        <a href="https://wa.me/+919747758555" class="whatsapp-float" target="_blank">
            <center><i class="fa-brands fa-whatsapp watsapp-icon" style="color: #e8ece8;"></i></center>
        </a>

        <!-- Mobile Menu -->
        <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

        {{#if admin}}
        {{>admin-mobile-menu}}
        {{else}}
        {{>user-mobile-menu}}
        {{/if}}

        {{!-- <div class="container newsletter-popup-container mfp-hide" id="loginPopup">
            <div class="row justify-content-center">
                <div class="col-10">
                    <div class="row no-gutters bg-white newsletter-popup-content">
                        <div class="col-xl-3-5col col-lg-7 banner-content-wrap">
                            <div class="banner-content text-center">
                                <p id="popupMessage"></p> <!-- Message will be inserted here -->
                                <button onclick="redirectToLogin()">Log In</button>
                                <button onclick="closePopup()">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> --}}

        <div id="loginPopup"
            style="display:none; position:fixed; top:50%; left:50%; transform:translate(-50%, -50%); background-color:white; padding: 25px; border: 1px solid #ccc;border-radius: 10px;">
            <button class="popup-close" onclick="closePopup()">×</button>
            <p id="popupMessage"></p> <!-- Message will be inserted here -->
            <button class="btn btn-primary" onclick="redirectToLogin()">Log In</button>

        </div>

        <script>
            function showLoginPopup() {
                document.getElementById('popupMessage').innerText = 'You are not logged in. Please log in to add items to your cart.';
                document.getElementById('loginPopup').style.display = 'block';
            }

            function closePopup() {
                document.getElementById('loginPopup').style.display = 'none';
            }

            function redirectToLogin() {
                window.location.href = '/login'; // Redirect to login page
            }
        </script>
        <script>
            document.addEventListener('submit', function (event) {
                if (event.target && event.target.matches('.add-to-cart-form')) {
                    event.preventDefault(); // Prevent the default form submission

                    const form = event.target;
                    const button = form.querySelector('.add-to-cart-btn');
                    const buttonText = form.querySelector('.button-text');
                    const spinner = form.querySelector('.spinner');
                    const tickMark = form.querySelector('.tick-mark');

                    // Show spinner and hide button text
                    buttonText.style.display = 'none';
                    spinner.style.display = 'inline-block';

                    // Simulate a delay (e.g., for network request or processing)
                    setTimeout(() => {
                        // Hide spinner and show tick mark
                        spinner.style.display = 'none';
                        tickMark.style.display = 'inline-block';

                        // Reset to default state after a short delay
                        setTimeout(() => {
                            // Hide tick mark and show button text
                            tickMark.style.display = 'none';
                            buttonText.style.display = 'inline-block';

                            // Submit the form programmatically
                            form.submit();
                        }, 1000); // Adjust delay for showing tick mark
                    }, 2000); // Simulate a delay of 2 seconds for the spinner
                }
            });

        </script>

</body>

</html>