<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="strict-origin-when-cross-origin">
    <title>Document</title>
</head>
<style>
    .card-dashboard {
        border-radius: 8px;
        background-color: rgba(255, 255, 255, 0.744);
    }

    .summary {
        border-radius: 10px;
    }

    .card {
        border-radius: 10px
    }

    .form-check-input {
        margin-top: .7rem !important;
    }
</style>

<body>
    <div class="pt-lg-5"></div>
    <div class="page-content mt-5">
        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/cart">Cart</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="checkout">
            <div class="container">
                <div class="checkout-discount">
                    {{!-- <form action="">
                        <input type="text" class="form-control" required id="checkout-discount-input">
                        <label for="checkout-discount-input" class="text-truncate">Have a coupon? <span>Click here to
                                enter
                                your code</span></label>
                    </form> --}}
                    {{!-- {{#each userAddress.addresses }} --}}
                </div><!-- End .checkout-discount -->
                <form action="/pendingOrder" method="POST">
                    <div class="row">
                        <div class="col-lg-9 justify-content-center align-items-center">
                            <div class="row justify-content-center">
                                <div class="col-lg-6">
                                    <div class="address-selection">
                                        <!-- Check if user has any saved addresses -->
                                        {{#if userAddress.addresses.length}}
                                        <!-- If addresses are present, show address selection -->
                                        <h3 class="card-title">Select an address</h3>
                                        {{#each userAddress.addresses}}
                                        <div class="card card-dashboard mt-2">
                                            <div class="card p-4">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="addressId"
                                                        id="address-{{_id}}" value="{{_id}}" {{#if
                                                        @first}}checked{{/if}}>
                                                    <label class="form-check-label ml-4" for="address-{{_id}}">
                                                        {{house}}, {{street}}, {{city}}, {{state}}, {{zipCode}}<br>
                                                        {{phone}}
                                                    </label>
                                                </div>
                                                <div class="float-r"> 
                                                     <a href="/profile/getUpdateAddress" class="">Edit</a>
                                                </div>
                                               
                                            </div>
                                        </div>
                                        {{/each}}
                                        {{else}}
                                        <!-- If no addresses are present, show address input form -->
                                        <h2 class="checkout-title">Billing Details</h2>
                                        <div class="row">
                                            <div class="col-lg-9">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <label>Name *</label>
                                                        <input type="text" class="form-control" name="name" required>
                                                    </div><!-- End .col-sm-6 -->
                                                </div><!-- End .row -->

                                                <label>House *</label>
                                                <input type="text" class="form-control" name="house" required>

                                                <label>Street address *</label>
                                                <input type="text" class="form-control"
                                                    placeholder="House number and Street name" name="street" required>

                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <label>Town / City *</label>
                                                        <input type="text" class="form-control" name="city" required>
                                                    </div><!-- End .col-sm-6 -->
                                                </div><!-- End .row -->

                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <label>State *</label>
                                                        <input type="text" class="form-control" name="state" required>
                                                    </div><!-- End .col-sm-6 -->
                                                </div><!-- End .row -->

                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <label>Postcode / ZIP *</label>
                                                        <input type="text" class="form-control" name="zipCode" required>
                                                    </div><!-- End .col-sm-6 -->

                                                    <div class="col-sm-6">
                                                        <label>Phone </label>
                                                        <input type="text" class="form-control" name="phone" required>
                                                    </div><!-- End .col-sm-6 -->
                                                </div><!-- End .row -->
                                            </div><!-- End .col-lg-9 -->
                                        </div><!-- End .row -->

                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                            <div class="cart-bottom"></div>
                        </div>
                        <aside class="col-lg-3">
                            <div class="summary">
                                <h3 class="summary-title">Your Order</h3>

                                <table class="table table-summary">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#if cartItems.length}}
                                        {{#each cartItems}}
                                        <tr>
                                            <td><a href="#">{{this.product.name}}</a></td>
                                            <!-- Add hidden inputs to pass product details -->
                                            <input type="hidden" name="products[{{@index}}][productId]"
                                                value="{{this.product._id}}">
                                            <input type="hidden" name="products[{{@index}}][quantity]"
                                                value="{{this.quantity}}">
                                            <td>{{this.eachTotal}}</td>
                                        </tr>
                                        {{/each}}
                                        {{/if}}
                                        <tr>
                                            <td>Shipping:</td>
                                            <td>Free shipping</td>
                                        </tr>
                                        <tr class="summary-total">
                                            <td>Total:</td>
                                            <td>{{totalAmount}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <input type="hidden" name="totalAmount" value="{{totalAmount}}">
                                <!-- Pass the user ID -->
                                <input type="hidden" name="userId" value="{{userId}}">

                                <button class="btn btn-primary" type="submit">Checkout</button>
                            </div>
                        </aside>
                    </div>
                </form>



            </div><!-- End .container -->
        </div><!-- End .checkout -->
    </div><!-- End .page-content -->
    <div class="container newsletter-popup-container mfp-hide" id="newsletter-popup-form">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="row no-gutters bg-white newsletter-popup-content">
                    <div class="col-xl-3-5col col-lg-7 banner-content-wrap">
                        <div class="banner-content text-center">
                            {{!-- <img src="assets/images/popup/newsletter/logo.png" class="logo" alt="logo" width="60"
                                height="15"> --}}
                            <h5>We'll be Back Soon!</h5>
                            <p>Our website is currently undergoing scheduled maintenance. We apologize for the
                                inconvenience and appreciate your patience.</p>
                            <p>If you need immediate assistance, please contact us in </p>
                            <a class="btn btn-success" style="background: #31f25d; border-color:#31f25d"
                                href="https://wa.me/+919747758555">Whatsapp<i class="fa-brands fa-whatsapp"></i></a>



                            {{!-- <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="register-policy-2" required>
                                <label class="custom-control-label" for="register-policy-2">Do not show this
                                    popup again</label>
                            </div><!-- End .custom-checkbox --> --}}
                        </div>
                    </div>
                    <div class="col-xl-2-5col col-lg-5 ">
                        <img src="/assets/images/popup/newsletter/img-1.jpg" class="newsletter-img" alt="newsletter">

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>