<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="strict-origin-when-cross-origin">
    <title>Document</title>
</head>
<style>
    .card-dashboard {
        border-radius: 8px;
        background-color: rgba(255, 255, 255, 0.744);
    }

    .summary {
        border-radius: 10px;
    }
</style>

<body>
    <div class="page-content mt-5">
        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/cart">Cart</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->
        <div class="checkout">
            <div class="container">
                <div class="checkout-discount">
                    {{!-- <form action="">
                        <input type="text" class="form-control" required id="checkout-discount-input">
                        <label for="checkout-discount-input" class="text-truncate">Have a coupon? <span>Click here to
                                enter
                                your code</span></label>
                    </form> --}}
                    {{!-- {{#each userAddress.addresses }} --}}
                </div><!-- End .checkout-discount -->
                <form action="" method="POST">
                    <div class="row">
                        <div class="col-lg-9 justify-content-center align-items-center">
                            <div class="row justify-content-center">
                                <div class="col-lg-6">
                                    {{#if (eq userAddress.addresses.length 0)}}
                                    <h3 class="card-title">No address added..!</h3>
                                    <a href="/profile/address" class="btn btn-outline-dark-2 mt-2">
                                        <span>Add Address</span><i class="icon-long-arrow-right"></i>
                                    </a>
                                    {{else}}
                                    <h3 class="card-title">Select an address</h3>
                                    {{/if}}

                                    {{#each userAddress.addresses }}
                                    <div class="card card-dashboard mt-2">
                                        <div class="card p-4">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="addressRadio"
                                                    id="address-{{@index}}" value="{{@index}}">
                                                <label class="form-check-label ml-4" for="address-{{@index}}">
                                                    {{house}}<br>
                                                    {{street}}, {{city}}, {{state}}, {{zipCode}}<br>
                                                    {{phone}}
                                                </label>
                                            </div>
                                            <p id="selectedAddress"></p>
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>
                            <div class="cart-bottom"></div>
                        </div>
                        <aside class="col-lg-3">
                            <div class="summary">
                                <h3 class="summary-title">Your Order</h3>

                                <table class="table table-summary">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#if cartItems.length }}
                                        {{#each cartItems }}
                                        <tr>
                                            <td><a href="#">{{this.product.name}}</a></td>
                                            <input type="hidden" value="{{this.product._id}}">
                                            <td>{{this.eachTotal}}</td>
                                        </tr>
                                        {{/each}}
                                        {{/if}}
                                        <tr>
                                            <td>Shipping:</td>
                                            <td>Free shipping</td>
                                        </tr>
                                        <tr class="summary-total">
                                            <td>Total:</td>
                                            <td>{{totalAmount}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div class="accordion-summary" id="accordion-payment">
                                    <!-- Empty card divs, add content or remove if not needed -->
                                    <div class="card"></div>
                                    <div class="card-header" id="heading-3"></div>


                                    <input type="text" value="{{userId}}">
                                    <button class="btn btn-primary" type="submit">Checkout</button>
                                </div>
                            </div>
                        </aside>
                    </div>
                </form>

            </div><!-- End .container -->
        </div><!-- End .checkout -->
    </div><!-- End .page-content -->
    <div class="container newsletter-popup-container mfp-hide" id="newsletter-popup-form">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="row no-gutters bg-white newsletter-popup-content">
                    <div class="col-xl-3-5col col-lg-7 banner-content-wrap">
                        <div class="banner-content text-center">
                            {{!-- <img src="assets/images/popup/newsletter/logo.png" class="logo" alt="logo" width="60"
                                height="15"> --}}
                            <h5>We'll be Back Soon!</h5>
                            <p>Our website is currently undergoing scheduled maintenance. We apologize for the
                                inconvenience and appreciate your patience.</p>
                            
                            <p>If you need immediate assistance, please contact us at </p>
                            <a class="btn btn-success" style="background: #31f25d; border-color:#31f25d"
                                href="https://wa.me/+919747758555">Whatsapp<i class="fa-brands fa-whatsapp"></i></a>


                            {{!-- <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="register-policy-2" required>
                                <label class="custom-control-label" for="register-policy-2">Do not show this
                                    popup again</label>
                            </div><!-- End .custom-checkbox --> --}}
                        </div>
                    </div>
                    <div class="col-xl-2-5col col-lg-5">
                        <img src="assets/images/popup/newsletter/img-1.jpg" class="newsletter-img" alt="newsletter">

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>