<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order-check</title>
</head>

<body>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Orders</title>
    </head>

    <body>
        <div class="mt-5 pt-5"></div>
        <div class="mt-5 pt-5"></div>
        <h1>Order Confirmation</h1>

        <p>Order ID: {{order.orderId}}</p>
        <p>Total Amount: ₹{{order.totalAmount}}</p>
        <p>Order Status: {{order.orderStatus}}</p>
        <p>Payment Status: {{order.paymentStatus}}</p>
        <p>Order Date: {{order.orderDate}}</p>

        <h2>Products:</h2>
        <ul>
            {{#each order.products}}
            <li>{{this.productId.name}} - Quantity: {{this.quantity}}</li>
            {{/each}}
        </ul>

        <h2>Shipping Address:</h2>
        <p>{{order.address}}</p>

        <p>Thank you for your order!</p>
    </body>

    </html>
</body>

</html>