<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order-details</title>
    <style>
        .card-body {
            padding: 1.25rem !important;
        }

        .card-header {}
    </style>
</head>

<body>
    <div class="mt-5 pt-5"></div>
    <div class="row justify-content-center">

        
        <div class="col-lg-9">
            <article class="card mb-4">
                <div class="container">
                    <header class="card-header mt-1">
                        <a href="#" class="float-right"> <i class="fa fa-print"></i> Print</a>
                        <strong class="d-inline-block mr-3">Order ID: {{order.orderId}}</strong>
                        <br>
                        <span>Order Date: 16 December 2018</span>
                    </header>
                </div>
                <div class="card-body">

                    <div class="row mt-1">
                        <div class="col-md-8">
                            <h6 class="text-muted">Delivery to</h6>
                            <p>{{order.addressId.name}} <br>
                                Phone +91 {{order.addressId.phone}} Email:{{order.userId.email}} <br>
                                Location:{{order.addressId.house}}, {{order.addressId.street}}, {{order.addressId.city}},
                                <br>
                                P.O. {{order.addressId.zipCode}}
                            </p>
                        </div>
                        <div class="col-md-4 mt-2">
                            <h6 class="text-muted">Payment</h6>

                            <p>Subtotal: {{order.TotalAmount}} <br>
                                Shipping fee: Free <br>
                                <span class="b">Total: $456 </span>
                            </p>
                        </div>
                    </div>
                    <div class="mt-2"></div> <!-- row.// -->
                    {{#each order.products }}
                    <div class="row  align-items-center">
                        <div class="col-9 col-lg-4">
                            <p style="font-size: 16px;color: black;font-weight: 500;">{{this.productId.name}}</p>
                            <p style="font-size: 15px;color:black;font-weight: 500">{{this.productId.price}}</p>
                            <a href="" class="btn btn-outline-primary mt-1">Track Order</a>
                        </div>

                        <div class="col-3  align-items-center">
                            <img width="70" src="/images/{{this.productId.mainImage}}" alt="">
                        </div>

                    </div>
                    {{/each}}
                </div> <!-- card-body .// -->

            </article> <!-- card order-item .// -->
        </div>
       


    </div>
</body>

</html>