<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<style>
    .nav-container {
        display: flex;
        align-items: center;
        overflow: hidden;
        position: relative;
        padding: 20px;
        padding-left: 50px;
        padding-right: 50px;
        width: 100%;
        border: none !important;
        /* Adjust width according to your layout */
    }

    .nav-tabs {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        padding-right: 30px;
        /* Adds extra space at the right end */
        -webkit-overflow-scrolling: touch;
        /* Smooth scrolling for touch devices */
    }

    .nav-tabs::-webkit-scrollbar {
        display: none;
        /* Hide scrollbar for Chrome, Safari, Opera */
    }

    .nav-tabs {
        -ms-overflow-style: none;
        /* Hide scrollbar for Internet Explorer 10+ */
    }

    .dummy-item {
        flex: 0 0 30px;
        /* Width of the extra space */
        list-style: none;
        /* Removes bullet point if applicable */
    }

    .scroll-btn {

        /* Light background for visibility */
        border: none;
        cursor: pointer;
        font-size: 20px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: none !important;
    }

    .scroll-btn.left {
        left: 15px;
    }

    .scroll-btn.right {
        right: 15px;
    }


    .profile .profile-card img {
        max-width: 120px;
    }

    .profile .profile-card h2 {
        font-size: 24px;
        font-weight: 700;
        color: #2c384e;
        margin: 10px 0 0 0;
    }

    .profile .profile-card h3 {
        font-size: 18px;
    }

    .profile .profile-card .social-links a {
        font-size: 20px;
        display: inline-block;
        color: rgba(1, 41, 112, 0.5);
        line-height: 0;
        margin-right: 10px;
        transition: 0.3s;
    }

    .profile .profile-card .social-links a:hover {
        color: #012970;
    }

    .profile .profile-overview .row {
        margin-bottom: 20px;
        font-size: 15px;
    }

    .profile .profile-overview .card-title {
        color: #012970;
    }

    .profile .profile-overview .label {
        font-weight: 600;
        color: rgba(1, 41, 112, 0.6);
    }

    .profile .profile-edit label {
        font-weight: 600;
        color: rgba(1, 41, 112, 0.6);
    }

    .profile .profile-edit img {
        max-width: 120px;
    }

    .nav-tabs .nav-link {
        font-size: 16px;
        /* Adjust font size as needed */
        font-weight: 500;
        /* Medium weight for better clarity */
        color: #333;
        /* Set a solid color for clarity */
        text-shadow: none !important;
        /* Ensure no text shadow */
        -webkit-font-smoothing: antialiased;
        /* Enhance font rendering on webkit-based browsers */
        -moz-osx-font-smoothing: grayscale;
        /* Enhance font rendering on Firefox */
    }


    .nav.nav-tabs .nav-item.show .nav-link,
    .nav.nav-tabs .nav-item .nav-link.active {
        background: #333;
        border-radius: 10px;

    }

    .nav-tabs {
        border: none !important;
        /* Remove any border on the nav-tabs container */
    }



    .nav.nav-tabs {
        border-bottom-right-radius: 0rem !important;
    }

    .nav-tabs .nav-link.active {
        border-bottom: none !important;
        /* Remove the bottom border on the active tab */
    }

    .nav.nav-tabs .nav-item.show .nav-link,
    .nav.nav-tabs .nav-item .nav-link.active {
        color: #fff;
    }

    .card-body {
        padding: 0px !important;
    }

    .form-control {
        border-radius: 10px;
    }

    .order-card {
        border: solid 1px grey;
        border-radius: 10px;
    }
</style>

<body>



    <div class="pt-lg-5"></div>
    <div class="mt-5 pt-lg-5"></div>


    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-8 col-sm-10">
            <main id="main" class="main">
                <section class="section profile">
                    <div class="row">

                        <div class="nav-container mt-3">
                            <!-- Left scroll button -->
                            <button class="scroll-btn left d-lg-none" onclick="scrollLeft()">&#10094;</button>

                            <!-- Navigation tabs -->
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#profile-overview">Overview</a>
                                </li>
                                <li class="nav-item">
                                    <a style="width: 150px;" class="nav-link" data-toggle="tab"
                                        href="#profile-edit">Edit
                                        Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#profile-settings">Orders</a>
                                </li>

                                <li class="nav-item">
                                    <a style="width: 170px;" class="nav-link" data-toggle="tab"
                                        href="#profile-change-password">Change Password</a>
                                </li>
                            </ul>

                            <button class="scroll-btn right d-lg-none" onclick="scrollRight()">&#10095;</button>

                            <!-- Right scroll button -->

                        </div>


                        <div class="col-xl-12">

                            <div class="card">
                                <div class="card-body ">
                                    <!-- Bordered Tabs -->


                                    <div class="tab-content pt-2">




                                        <div class="tab-pane fade show active profile-overview" id="profile-overview">

                                            <h5 class="card-title mb-3">Profile Details</h5>

                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label ">First Name</div>
                                                <div class="col-lg-9 col-md-8">{{user.firstName}}</div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label">Last Name</div>
                                                <div class="col-lg-9 col-md-8">{{user.lastName}}</div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label">Phone</div>
                                                <div class="col-lg-9 col-md-8">{{user.phone}}</div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label">Email</div>
                                                <div class="col-lg-9 col-md-8">{{user.email}}</div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label">Address</div>
                                                <div class="col-lg-9 col-md-8">
                                                    {{#if userData.addresses.[0]}}
                                                    {{#each userData.addresses}}
                                                    {{this.city}}, {{this.street}}, Building {{this.building}},
                                                    {{this.house}} &nbsp;
                                                    {{/each}}
                                                    {{else}}
                                                    <p>No address added</p>
                                                    {{/if}}
                                                </div>
                                            </div>



                                        </div>

                                        <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                                            <!-- Profile Edit Form -->


                                            <form id="profileForm" method="post" action="/profile/update">
                                                <label for="profileImage"
                                                    class="col-md-4 col-lg-3 col-form-label">Profile
                                                    Image</label>
                                                <div class="col-md-8 col-lg-9">
                                                    <img src="">
                                                    <div class="pt-2">
                                                        <a href="#" class="btn btn-primary btn-sm"
                                                            title="Upload new profile image"><i
                                                                class="fa-regular fa-trash-can"></i></a>
                                                        <a href="#" class="btn btn-danger btn-sm"
                                                            title="Remove my profile image"><i
                                                                class="fa-solid fa-upload"></i></a>
                                                    </div>
                                                </div>
                                                <div class="form-row mt-2">
                                                    <div class="col form-group">
                                                        <label>First name</label>
                                                        <input type="text" class="form-control" name="firstName"
                                                            id="firstName" value="{{user.firstName}}">
                                                        <small class="text-danger" id="error-firstName"></small>
                                                    </div> <!-- form-group end.// -->


                                                    <div class="col form-group">
                                                        <label>Last name</label>
                                                        <input type="text" class="form-control" id="lastName"
                                                            name="lastName" value="{{user.lastName}}">
                                                        <small class="text-danger" id="error-lastName"></small>
                                                    </div> <!-- form-group end.// -->
                                                </div> <!-- form-row end.// -->



                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <label>Phone</label>
                                                        <input type="text" class="form-control" name="phone" id="phone"
                                                            value="{{user.phone}}">
                                                        <small class="text-danger" id="error-phone"></small>
                                                    </div> <!-- form-group end.// -->
                                                    <div class="form-group col-md-6">
                                                        <label>Email</label>
                                                        <input type="email" disabled class="form-control" name="email"
                                                            value="{{user.email}}">
                                                        <small class="text-info">Currently not available to change
                                                            Email</small>
                                                    </div> <!-- form-group end.// -->

                                                </div> <!-- form-row.// -->
                                                <div class="form-group mt-3">
                                                    <button type="submit" class="btn btn-primary btn-block">Update
                                                    </button>
                                                </div> <!-- form-group// -->

                                            </form>
                                            <div id="responseMessage"></div>

                                        </div>

                                        <div class="tab-pane fade pt-3" id="profile-settings">
                                            {{#if orders}}
                                            {{#each orders}}
                                            {{#each this.products}}
                                            <div class="container">
                                                <div class="order-card">
                                                    <div class="row align-items-center justify-content-center">
                                                        <div class="col-lg-3 col-3">
                                                            <img src="/images/{{this.productId.mainImage}}" alt="">
                                                        </div>
                                                        <div class="col-lg-5 col-5">
                                                            <p>Ordered on Aug 10</p>
                                                            <p>{{this.productId.name}}</p>
                                                        </div>
                                                        <div class="col-1 col-lg-4">
                                                            <i class="fa-solid fa-chevron-right"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {{/each}}
                                            {{/each}}
                                            {{/if}}


                                        </div>

                                        <div class="tab-pane fade pt-3" id="profile-change-password">
                                            <!-- Change Password Form -->
                                            <form>

                                                <div class="row mb-3">
                                                    <label for="currentPassword"
                                                        class="col-md-4 col-lg-3 col-form-label">Current
                                                        Password</label>
                                                    <div class="col-md-8 col-lg-9">
                                                        <input name="password" type="password" class="form-control"
                                                            id="currentPassword">
                                                    </div>
                                                </div>

                                                <div class="row mb-3">
                                                    <label for="newPassword"
                                                        class="col-md-4 col-lg-3 col-form-label">New
                                                        Password</label>
                                                    <div class="col-md-8 col-lg-9">
                                                        <input name="newpassword" type="password" class="form-control"
                                                            id="newPassword">
                                                    </div>
                                                </div>

                                                <div class="row mb-3">
                                                    <label for="renewPassword"
                                                        class="col-md-4 col-lg-3 col-form-label">Re-enter
                                                        New Password</label>
                                                    <div class="col-md-8 col-lg-9">
                                                        <input name="renewpassword" type="password" class="form-control"
                                                            id="renewPassword">
                                                    </div>
                                                </div>

                                                <div class="text-center">
                                                    <button type="submit" class="btn btn-primary">Change
                                                        Password</button>
                                                </div>
                                            </form><!-- End Change Password Form -->

                                        </div>

                                    </div><!-- End Bordered Tabs -->

                                </div>
                            </div>

                        </div>
                    </div>
                </section>

            </main><!-- End #main -->
        </div>
    </div>

    <script>
        function scrollLeft() {
            const navTabs = document.querySelector('.nav-tabs');
            navTabs.scrollBy({
                left: -200, // Adjust the scroll amount to your preference
                behavior: 'smooth'
            });
        }

        function scrollRight() {
            const navTabs = document.querySelector('.nav-tabs');
            navTabs.scrollBy({
                left: 200, // Adjust the scroll amount to your preference
                behavior: 'smooth'
            });
        }
    </script>

</body>

</html>