<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<style>
    .card {
        padding: 12p;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid #ebecf0;
    }
</style>

<body>

    <div class="">


        <main class="main">


            <div class="page-content mt-5">
                <div class="dashboard">
                    <div class="container-fluid">
                        <div class="row justify-content-center">
                            <aside class="col-md-4 col-lg-3">
                                <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                                    
                                    <li class="nav-item">
                                        <a class="nav-link active" id="tab-orders-link" data-toggle="tab" href="#tab-orders"
                                            role="tab" aria-controls="tab-orders" aria-selected="false">Orders</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address"
                                            role="tab" aria-controls="tab-address" aria-selected="false">Adresses</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account"
                                            role="tab" aria-controls="tab-account" aria-selected="false">Account
                                            Details</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Sign Out</a>
                                    </li>
                                </ul>
                            </aside><!-- End .col-lg-3 -->


                            <div class="col-md-8 col-lg-9">
                                <div class="tab-content">
                                    


                                    <div class="tab-pane fade show active " id="tab-orders" role="tabpanel"
                                        aria-labelledby="tab-orders-link">
                                        {{#each orders}}
                                        <main class="col-md-9">

                                            <article class="card mb-4">

                                                <header class="card-header p-3">
                                                    <a href="#" class="float-right"> <i class="fa fa-print"></i>
                                                        Invoice</a>
                                                    <strong class="d-inline-block mr-3">Order ID:
                                                        {{this.orderId}}</strong>
                                                    <span>{{this.orderDate}}</span>
                                                </header>
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-md-8">
                                                            <h6 class="text-muted">Delivery to</h6>
                                                            <p>
                                                                {{this.address.name}}
                                                                {{this.address.house}}
                                                                {{this.address.city}}<br>
                                                                {{this.address.street}}
                                                                {{this.address.state}}<br>
                                                                {{this.address.zipCode}}
                                                                {{this.address.phone}}
                                                            </p>
                                                            <h1>{{this.address.street}}</h1>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <h6 class="text-muted">Payment</h6>
                                                            Shipping fee: 0 <br>
                                                            <span class="b">Total: ${{this.totalAmount}} </span>
                                                            </p>
                                                        </div>
                                                    </div> <!-- row.// -->
                                                </div> <!-- card-body .// -->

                                                {{#each this.products}}


                                                <div class="container">
                                                    <div class="row pb-3">
                                                        <div class="col-lg-2 col-3">
                                                            <img width="70px" src="/images/{{this.productId.mainImage}}"
                                                                class="img-xs border">
                                                        </div>
                                                        <div class="col-lg-2 col-4">
                                                            <p class="title mb-0" style="font-size: 14px;">
                                                                {{this.productId.name}}</p>
                                                            <var class="price text-muted">₹250</var>
                                                            <var class="text-muted">({{this.quantity}})</var>
                                                        </div>
                                                        <div class="col-lg-2 col-5">
                                                            <a href="#" class="btn btn-outline-primary">Track
                                                                order</a>
                                                            <br>
                                                            <div class="dropdown d-inline-block mt-1">
                                                                <a href="#" data-toggle="dropdown"
                                                                    class="dropdown-toggle btn btn-outline-secondary">More</a>
                                                                <div class="dropdown-menu dropdown-menu-right">
                                                                    <a href="#" class="dropdown-item">Return</a>
                                                                    <a href="#" class="dropdown-item">Cancel
                                                                        order</a>
                                                                </div>
                                                            </div> <!-- dropdown.// -->
                                                        </div>
                                                        <div class="col-lg-2 col-5">

                                                        </div>
                                                    </div>
                                                </div>
                                                {{/each}}



                                                {{!-- ending here --}}

                                            </article> <!-- card order-item .// -->


                                        </main> <!-- col.// -->
                                        {{/each}}
                                    </div><!-- .End .tab-pane -->



                                    <div class="tab-pane fade" id="tab-downloads" role="tabpanel"
                                        aria-labelledby="tab-downloads-link">
                                        <h1>Your Orders</h1>
                                        {{#each orders}}
                                        <div class="order">
                                            <h2>Order placed on {{createdAt}}</h2>
                                            <ul>
                                                {{#each items}}
                                                <li>
                                                    Product: {{this.product.name}}, Quantity: {{this.quantity}}, Price:
                                                    ${{this.price}}
                                                </li>
                                                {{/each}}
                                            </ul>
                                            <p>Total Amount: ${{totalAmount}}</p>
                                        </div>
                                        {{/each}}
                                    </div><!-- .End .tab-pane -->



                                    <div class="tab-pane fade" id="tab-address" role="tabpanel"
                                        aria-labelledby="tab-address-link">
                                        <p>The following addresses will be used on the checkout page by default.</p>

                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="card card-dashboard">
                                                    <div class="card-body">
                                                        <h3 class="card-title">Billing Address</h3>
                                                        <!-- End .card-title -->

                                                        <p>User Name:<br>
                                                            User Company<br>
                                                            John str<br>
                                                            New York, NY 10001<br>
                                                            1-234-987-6543<br>
                                                            yourmail@mail.com<br>
                                                            <a href="#">Edit <i class="icon-edit"></i></a>
                                                        </p>
                                                    </div><!-- End .card-body -->
                                                </div><!-- End .card-dashboard -->
                                            </div><!-- End .col-lg-6 -->

                                            <div class="col-lg-6">
                                                <div class="card card-dashboard">
                                                    <div class="card-body">
                                                        <h3 class="card-title">Shipping Address</h3>
                                                        <!-- End .card-title -->


                                                        <div class="row">
                                                            {{#each userData.addresses}}
                                                            <div class="col-lg-6">
                                                                <div class="card card-dashboard">
                                                                    <div class="card-body">
                                                                        <h3 class="card-title">Address {{@index}} :</h3>
                                                                        <!-- End .card-title -->

                                                                        <p>

                                                                            Name: {{this.name}}<br>
                                                                            House: {{this.house}}<br>
                                                                            Street: {{this.street}}<br>
                                                                            Place: {{this.city}}, {{this.state}}<br>
                                                                            ZipCode: {{this.zipCode}}<br>
                                                                            Phone: {{this.phone}}<br>
                                                                        </p>

                                                                        <div class="d-flex justify-content-between">
                                                                            <button class="btn"
                                                                                onclick="editAddress('{{{json this}}}', '{{@index}}')">
                                                                                <i class="icon-edit"
                                                                                    style="font-size: 20px;"></i>
                                                                            </button>

                                                                            <button class="btn"
                                                                                onclick="removeAddress('{{@index}}')">
                                                                                <i class="icon-close"
                                                                                    style="font-size: 20px;"></i>
                                                                            </button>
                                                                        </div>
                                                                    </div><!-- End .card-body -->
                                                                </div><!-- End .card-dashboard -->
                                                            </div><!-- End .col-lg-6 -->
                                                            {{/each}}

                                                            <hr>
                                                        </div>
                                                    </div><!-- End .card-body -->
                                                </div><!-- End .card-dashboard -->
                                            </div><!-- End .col-lg-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- .End .tab-pane -->

                                    <div class="tab-pane fade" id="tab-account" role="tabpanel"
                                        aria-labelledby="tab-account-link">
                                        <form action="#">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>First Name *</label>
                                                    <input type="text" class="form-control" required>
                                                </div><!-- End .col-sm-6 -->

                                                <div class="col-sm-6">
                                                    <label>Last Name *</label>
                                                    <input type="text" class="form-control" required>
                                                </div><!-- End .col-sm-6 -->
                                            </div><!-- End .row -->

                                            <label>Display Name *</label>
                                            <input type="text" class="form-control" required>
                                            <small class="form-text">This will be how your name will be displayed in the
                                                account section and in reviews</small>

                                            <label>Email address *</label>
                                            <input type="email" class="form-control" required>

                                            <label>Current password (leave blank to leave unchanged)</label>
                                            <input type="password" class="form-control">

                                            <label>New password (leave blank to leave unchanged)</label>
                                            <input type="password" class="form-control">

                                            <label>Confirm new password</label>
                                            <input type="password" class="form-control mb-2">

                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>SAVE CHANGES</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>
                                        </form>
                                    </div><!-- .End .tab-pane -->
                                </div>
                            </div><!-- End .col-lg-9 -->
                        </div><!-- End .row -->
                    </div><!-- End .container -->
                </div><!-- End .dashboard -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
    </div>
    <script>
        Handlebars.registerHelper('json', function (context) {
            return JSON.stringify(context);
        });
    </script>
</body>

</html>